In [59]:
import geopandas as gpd
import pandas as pd
from pyproj import CRS
from shapely.geometry import Point, MultiPoint, LineString, MultiLineString, Polygon, MultiPolygon
from shapely.wkb import dumps, loads #this is used to flatten geoms
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#modules needed for connecting to PostGIS
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine #needs to have psycopg2 in the environment but no need to import it
from geoalchemy2 import WKTElement, Geometry #to modify Shapely geometries into WKT before uploading to DB

## ... continuation of the cleaning processes.

Starting with a model that has been **snapped**.

All islands where manually removed with the help of QGIS plugin DIsconnected islands which uses NetworkX to test for subnetworks. --> over 100 different island were originally found. 

After 6 rounds of testing **simplification** thresholds - > the most accurate was to go with **12.5m**

### Connection to POSTGIS

In [5]:
# DB parameters
HOST = 'localhost'
DB = 'sdb_course'
USER = 'postgres'
PORT = 5433
PWD = 'Dedalo1.'

# Database info
db_url = URL(drivername='postgresql+psycopg2', 
             host=HOST, 
             database=DB,
             username=USER,
             port=PORT,
             password=PWD)

# Create engine
engine = create_engine(db_url)
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5433/sdb_course)

> Most up to date files at this stage: 
> 1. **net_5_islands**
> 1. **unlinks_cl**
> 1. **campuses**

In [112]:
#importing the Network
sqlquery = "SELECT * FROM riyadh.net_5_islands;"

#note: no CRS given because the data is already projcted in the correct CRS (20438)
net_5is = gpd.read_postgis(sqlquery, engine, geom_col='geom', crs=None, index_col='fid')

#creating a spatial index
net_5is.sindex
net_5is.head(2)

,geom,cat,cat_,original_i,length,networkGrp
fid,,,,,,
1,"LINESTRING (677211.890 2732125.950, 677279.804...",1.0,2.0,2.0,72.142867,0.0
2,"LINESTRING (667716.660 2737252.031, 668009.000...",2.0,20.0,22.0,322.597467,0.0

In [113]:
#cleaning
net_5is.reset_index(inplace=True, level = "fid")
net_5is.drop(columns=["cat", "cat_"], inplace=True)
net_5is.rename(columns ={"original_i": "original_id", "fid": "id"}, inplace=True)
net_5is.head(2)

,id,geom,original_id,length,networkGrp
0,1,"LINESTRING (677211.890 2732125.950, 677279.804...",2.0,72.142867,0.0
1,2,"LINESTRING (667716.660 2737252.031, 668009.000...",22.0,322.597467,0.0

In [115]:
#importing the unlinks and the polygons
sqlpoly = "SELECT * FROM riyadh.campuses;"
sqlunilnks = "SELECT * FROM riyadh.unlinks_cl"

campuses = gpd.read_postgis(sqlpoly, engine, geom_col="geom", index_col= "id")
unlinks = gpd.read_postgis(sqlunilnks,engine, geom_col="geom", index_col="id")

campuses.sindex
unlinks.sindex

print("Campuses length: %s" % len(campuses))
print("Unlinks length: %s" % len(unlinks))

Campuses length: 554
Unlinks length: 48

## Creating a spatial join : Unlinks -> Network
To recreate that un the future

In [129]:
#flatten the points to 2D 
#"dumps", creates a WKT representation and "loads" recreates such WKT back into shapely
unlinks["geom"] = unlinks.geom.apply(lambda p : loads(dumps(p, output_dimension =2)))

#Create a buffer of the unlinks : 9 meters 
unlinks["buffer"] = unlinks.geom.apply(lambda g : g.buffer(9)) #tried 5 but it wasn't enough for some
unlinks.tail()

#create the join to be able to recreate the unlinks after the geometry simplification
net_5is = gpd.sjoin(net_5is, unlinks.set_geometry("buffer"), #using the BUFFER not the actual points
                    how= "left", op="intersects", #op = one of {‘intersects’, ‘contains’, ‘within’}
                    rsuffix = "unlink")

In [133]:
#creating a mask to see only the lines that where intersected
mask = net_5is["index_unlink"].notnull()
test1 = len(net_5is[mask].index_unlink.unique()) == len(unlinks)
print("All points had been intersected at least once:", test1)

#the count of each unlink should be from 2 lines ONLY
test2 = net_5is[mask].index_unlink.value_counts() == 2
print("All points are intersecting two lines ONLY:", test2.all())

All points had been intersected at least once: True
All points are intersecting two lines ONLY: True

In [139]:
#cleaning columns
net_5is.drop(columns= ["geom_unlink"], inplace=True)
net_5is.rename(columns = {"geom_left":"geometry", "index_unlink": "id_unlink"}, inplace=True)
net_5is.tail()

,id,geometry,original_id,length,networkGrp,id_unlink
77114,47614,"LINESTRING (672348.844 2727257.681, 672262.734...",17468.0,682.775652,0.0,NaN
77115,73515,"LINESTRING (672076.789 2727363.838, 672055.191...",68619.0,323.166847,0.0,NaN
77116,200012,"LINESTRING (671947.594 2726952.359, 672020.059...",NaN,NaN,NaN,NaN
77117,200013,"LINESTRING (672230.051 2727275.083, 672223.894...",NaN,NaN,NaN,NaN
77118,16132,"LINESTRING (669242.423 2726950.739, 669274.528...",41487.0,110.966058,0.0,NaN

In [156]:
#at some point in the process above this became a dataframe
net_5is = net_5is.set_geometry("geometry", crs= unlinks.crs)

## Creating a unary union

In [159]:
#creating a union creates a shapely MultiLineString
net_5is_union = net_5is["geometry"].unary_union

#building metadata
lines_num = len(net_5is_union)
nodes_num = 0
for line in net_5is_union: #iterates over the lines (intersection to intersection) in MultiLineString
        coords = line.coords
        nodes_num +=len(coords)
    
avg_nds_line = round(nodes_num/lines_num,3) #calculate the average nodes per line
    
#create a list to append all to the key
values = [net_5is_union, lines_num, nodes_num, avg_nds_line]
cols = ["geometry", "lines_num", "nodes_num", "avg_nds_line"]

#include such geometry in a Geodataframe along with some metadata
net_5is_Bse = gpd.GeoDataFrame([values], columns = cols, crs=20438)
net_5is_Bse

,geometry,lines_num,nodes_num,avg_nds_line
0,"MULTILINESTRING ((677211.890 2732125.950, 6772...",228252,505104,2.213

## Simplifying the model
> Using **12.5m** based on test done before

In [160]:
#simplify the geometry
tolerance = 12.5
simplGeom = net_5is_union.simplify(tolerance, preserve_topology = True)

#building metadata
lines_num = len(simplGeom)
nodes_num = 0
for line in simplGeom: #iterates over the lines (intersection to intersection) in MultiLineString
        coords = line.coords
        nodes_num +=len(coords)
#calculate the average nodes per line
avg_nds_line = round(nodes_num/lines_num,3) 
    
#create a list to append all to the key
values = [simplGeom, lines_num, nodes_num, avg_nds_line]
cols = ["geometry", "lines_num", "nodes_num", "avg_nds_line"]

#include such geometry in a Geodataframe along with some metadata
net_5is_Smpl = gpd.GeoDataFrame([values], columns = cols, crs=20438)
net_5is_Smpl

,geometry,lines_num,nodes_num,avg_nds_line
0,"MULTILINESTRING ((677211.890 2732125.950, 6772...",228252,480985,2.107

In [167]:
#Percentage of node reduction
diff = net_5is_Bse.nodes_num[0] - net_5is_Smpl.nodes_num[0]
perc_diff = round((diff/net_5is_Bse.nodes_num[0])*100,2)

print("Nodes reduces by simplification: %s %%" % perc_diff)

Nodes reduces by simplification: 4.78 %

## Expand the MultiLineString simplifyed
> and try to recreate the unlinks