# Data exploration
1. Full models:
    - **Global** and **local** measures
    - Topological attributes. (No. dead ends , average street lenght, average campus area/perimeter...)
1. Selection of certain local areas - to discuss/agree with Mahdi.
    - **Global** and **local** measures
    - This could be created on the basis of: 
        - Surrounding/buffer areas from selected Campus categories
        - Political breaks of the city - In which case we need to get such boundaries.
1. Summarize information into tables
1. Plot and visualize the correspondant/complementary maps.
    - This will greatly differ depending on the number of them.

In [1]:
import geopandas as gpd
import pandas as pd
from numpy import log, nan

from pyproj import CRS
from shapely.geometry import Point, MultiPoint, LineString, MultiLineString, Polygon, MultiPolygon

In [2]:
#modules needed for connecting to PostGIS
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine #needs to have psycopg2 in the environment but no need to import it
from geoalchemy2 import WKTElement, Geometry #to modify Shapely geometries into WKT before uploading to DB

In [ ]:
#importing custom function to normalize measures
#from Syntax_functions import Syntax_normalizer

# Importing SYNTAX data

In [89]:
#importing the text files from Depthmap
#full model
fp = "cl_data/processing_networks/netAll_sg_pr2.txt"
riyadh_fullDF = pd.read_table(fp, index_col ="Ref")
#base model
fp2 = "cl_data/processing_networks/netBse_sg_pr2.txt"
riyadh_baseDF = pd.read_table(fp2, index_col ="Ref")

print("The shape of BASE syntax file: ", riyadh_baseDF.shape)
print("The shape of FULL syntax file: ", riyadh_fullDF.shape)

The shape of BASE syntax file:  (227470, 37)
The shape of FULL syntax file:  (252591, 37)

In [90]:
#recreating GEOMETRIES from x y coordinates
for data in [riyadh_baseDF, riyadh_fullDF]:
    # Zip the coordinates into a point object and convert to a GeoDataFrame
    geom_org = [Point(xy) for xy in zip(data.x1, data.y1)]
    geom_dest = [Point(xy) for xy in zip(data.x2, data.y2)]

    # Creating the line segments
    geom_line = [LineString([(p1.x,p1.y),(p2.x,p2.y)]) for p1, p2 in zip(geom_org,geom_dest)]
    #Adding the column to the DataFrame
    data["geometry"] = geom_line

#converting into GeoDataFrames
riyadh_base = gpd.GeoDataFrame(riyadh_baseDF, geometry="geometry", crs=20438)
riyadh_full = gpd.GeoDataFrame(riyadh_fullDF, geometry="geometry", crs=20438)

#removing unnecessary columns
colsB = ['x1', 'y1', 'x2', 'y2', 'Axial Line Ref', 'Metric Step Depth']
colsF = ['x1', 'y1', 'x2', 'y2', 'Axial Line Ref', 'Drawing Layer']

riyadh_base.drop(colsB, axis = 1, inplace=True)
riyadh_full.drop(colsF, axis = 1, inplace=True)

#quick verification
synt_base = [i for i in riyadh_base.columns if (i[:5]=="T1024")]
synt_full = [i for i in riyadh_full.columns if (i[:5]=="T1024")]
print("VERIFICATION STEP:\nBoth tables have the same radii of anlysis: ", len(synt_base) == len(synt_full))

VERIFICATION STEP:
Both tables have the same radii of anlysis:  True

In [91]:
#renaming "N radius" columns
naming_dict= {'T1024 Choice': "T1024 Choice Rn metric",
              'T1024 Integration': "T1024 Intergration Rn metric",
              'T1024 Node Count': "T1024 Node Count Rn metric",
              'T1024 Total Depth': "T1024 Total Depth Rn metric"} 

riyadh_base.rename(columns=naming_dict, inplace=True)
riyadh_full.rename(columns=naming_dict, inplace=True)

## Catchment areas

In [6]:
# DB parameters
HOST = 'localhost'
DB = 'sdb_course'
USER = 'postgres'
PORT = 5433
PWD = 'Dedalo1.'
# Database info
db_url = URL(drivername='postgresql+psycopg2', host=HOST, database=DB, username=USER, port=PORT, password=PWD)
# Create engine
engine = create_engine(db_url)
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5433/sdb_course)

In [92]:
#importing the CATCHMENTS
sqlquery = "SELECT * FROM riyadh.campus_catchments;"
#note: no CRS given because the data is already projcted in the correct CRS (20438)
catchments = gpd.read_postgis(sqlquery, engine, geom_col='geom', crs=None, index_col='gid')
#creating a spatial index
catchments.sindex
catchments.head(2)

                                                  geom  id  cost_level
gid
1    POLYGON ((662356.667 2736056.540, 662366.673 2...   9      5000.0
2    POLYGON ((660705.690 2748066.314, 660709.354 2...   9      5000.0

In [93]:
#importing the CAMPUSES
sqlquery = "SELECT * FROM riyadh.campuses_new;"
campuses = gpd.read_postgis(sqlquery, engine, geom_col='geom', crs=None)
#creating a spatial index
campuses.sindex
campuses.tail(2)

,id,geom,category,cat_name,name_alias
318,319,"MULTIPOLYGON (((669485.937 2728433.255, 669462...",GOV,Governmental,None
319,320,"MULTIPOLYGON (((669454.810 2728941.664, 669923...",E,Educational,None

In [94]:
#define a dataframe from only the focus campuses
mask = campuses.name_alias.notnull()
focus_campuses = campuses[mask]

In [95]:
#join the catchments to the correct focus campuses they belong
catchments = gpd.sjoin(catchments, focus_campuses, how='inner', op='intersects', rsuffix='focus')

In [96]:
#selecting the catments according to the desired distance from the entrances
selected_di = 1000 #this is according to what Mahdi(client) asked
selected_catchments = catchments[catchments.cost_level == selected_di]

#cleaning joined data
useless_cols = ["id_left", "id_focus", "cat_name"]
selected_catchments.drop(useless_cols, axis=1, inplace=True)
selected_catchments

/opt/anaconda3/envs/autogis/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,geom,cost_level,index_focus,category,name_alias
gid,,,,,
56,"POLYGON ((664297.816 2733071.357, 664307.822 2...",1000.0,289,SCLSUP,Diplomatic Quarter Riyadh
55,"POLYGON ((671842.282 2728938.658, 671843.418 2...",1000.0,296,SCRT,Royal Guard Barracks
57,"POLYGON ((662756.904 2745215.185, 662766.910 2...",1000.0,225,R,Telal Al-Riyadh
58,"POLYGON ((672412.620 2746997.806, 672422.626 2...",1000.0,313,E,Al-Imam University

# === SPATIAL JOINS ===
### Selecting the lines in the models that belong to the campuses or the catchment areas

In [97]:
#create the join with the lines that are WITHIN the campus
# Note that this is only done on the FULL model as the other one does not have such lines
riyadh_full = gpd.sjoin(riyadh_full,focus_campuses[["geom","name_alias"]],
                        how="left", op="within", rsuffix= "campus")

In [98]:
#create the join with the lines that intersect the selected catchemnts
# BASE model
riyadh_base = gpd.sjoin(riyadh_base,selected_catchments[["geom","index_focus","category","name_alias"]], 
                        how="left", op="within")
riyadh_base.drop("index_right",axis=1, inplace=True)

# FULL model
riyadh_full = gpd.sjoin(riyadh_full,selected_catchments[["geom","index_focus"]], 
                        how="left", op="within")
riyadh_full.drop("index_right",axis=1, inplace=True)

In [99]:
# On the FULL model:
# assigning NAN to the rows that are simultaneously catched by the campus polygons and the catchments
mask = (riyadh_full.index_campus.notnull()) & (riyadh_full.index_focus.notnull())
riyadh_full.loc[mask , "index_focus"] = nan #this comes from Numpy.nan imported earlier

#populating index_focus with the correct index focus to group later based on that column
for area in riyadh_full.loc[riyadh_full.index_campus.notnull(),"index_campus"].unique():
    #create a mask whether the line belongs to catchment OR the campus
    mask = (riyadh_full.index_campus == area) | (riyadh_full.index_focus == area)
    #asigning the same value to be able to group later
    riyadh_full.loc[mask, "index_focus"] = area

In [100]:
#renaming the catchments label for reporting
mask = (riyadh_full.index_focus.notnull()) & (riyadh_full.index_campus.isnull())
riyadh_full.loc[mask, "name_alias"] = " Catchment" 

#renaming the alias to be precise when reporting
mask = riyadh_base.index_focus.notnull()
riyadh_base.loc[mask, "name_alias"] = [(str(d) +" catchment area") for d in riyadh_base.loc[mask, "name_alias"]]

print("VERIFICATION STEP!")
print("=== BASE MODEL ===\nUnique focus_index labels:\n", riyadh_base.loc[riyadh_base.index_focus.notnull(),"name_alias"].unique())
print("\n=== FULL MODEL ===\nUnique focus_index labels:\n", riyadh_full.loc[riyadh_full.index_focus.notnull(),"name_alias"].unique())

VERIFICATION STEP!
=== BASE MODEL ===
Unique focus_index labels:
 ['Diplomatic Quarter Riyadh catchment area'
 'Royal Guard Barracks catchment area' 'Al-Imam University catchment area'
 'Telal Al-Riyadh catchment area']

=== FULL MODEL ===
Unique focus_index labels:
 ['Diplomatic Quarter Riyadh' 'Royal Guard Barracks' 'Al-Imam University'
 ' Catchment' 'Telal Al-Riyadh']

In [101]:
#Joining campuses.category with FULL model for future querying - BASE model shouldn't have those lines
#FULL MODEL ONLY
riyadh_full = gpd.sjoin(riyadh_full,campuses[["id","category","geom"]], 
                        how="left", op="within")
#celaning
riyadh_full.drop(["index_right"], axis=1, inplace=True)
#renaming
campusdicts = {"id": "id_campus", "category": "category_campus"}
riyadh_full.rename(columns = campusdicts, inplace=True)

print("VERIFICATION STEP!")
print("\n=== FULL MODEL ===\nUnique category_campus labels:\n", riyadh_full.loc[riyadh_full.category_campus.notnull(),"category_campus"].value_counts())

VERIFICATION STEP!

=== FULL MODEL ===
Unique category_campus labels:
 SCRT       14280
INDUS A     6580
R           5305
E           3906
GOV         2940
SCLSUP      1285
TRP         1134
MED          739
REC          345
ORG          303
SH           182
O             50
MIX            3
Name: category_campus, dtype: int64

### ================
## Function for Syntax normalization !
### ================

In [38]:
#creating a function to normalize all syntax values
def Syntax_normalizer(df):
    
    # based on Syntax literature 
    # NaCH = logCH+1/logTD+3
    # NaIN =  NC^1.2/TD
    #extracting the useful columns
    useful_cols = [i[6:] for i in df.columns if (i[:5]=="T1024")]
    
    #extracting the radii that need to be calculated
    radii = [r.split()[1][1:] for r in useful_cols if r[:6]=="Choice"]

    #creating the column names
    NaCh_colnames = ["NaCh_"+str(r) for r in radii]
    NaIn_colnames = ["NaIn_"+str(r) for r in radii]
    
    # empty dictionary to store all calculation with their keys
    normalized_dct = {}
    for rad, NaCh_col_name, NaIn_col_name in zip(radii, NaCh_colnames, NaIn_colnames):
        #slice the dataframe with relevant columns
        choice = df["T1024 Choice R%s metric" % str(rad)]
        tdepth = df["T1024 Total Depth R%s metric" % str(rad)]
        ncount = df["T1024 Node Count R%s metric" % str(rad)]

        NaCh_vals = log(choice+1) / log(tdepth+3)
        NaIn_vals = ncount**1.2 / tdepth

        normalized_dct[NaCh_col_name] = NaCh_vals
        normalized_dct[NaIn_col_name] = NaIn_vals
    
    #convert dictionary to dataframe 
    newdf = pd.DataFrame(normalized_dct)
    #join the new dataframe with the input DataFrame (based on index)
    df = df.join(newdf)
    
    print("The following columns have been added successfully:\n",NaCh_colnames,"\n",NaIn_colnames,"\n")
    return df

In [102]:
#call the new function Syntax_normalizer()
riyadh_base = Syntax_normalizer(riyadh_base)
riyadh_full = Syntax_normalizer(riyadh_full)

The following columns have been added successfully:
 ['NaCh_n', 'NaCh_10000', 'NaCh_1200', 'NaCh_2000', 'NaCh_400', 'NaCh_5000', 'NaCh_800']
 ['NaIn_n', 'NaIn_10000', 'NaIn_1200', 'NaIn_2000', 'NaIn_400', 'NaIn_5000', 'NaIn_800']

The following columns have been added successfully:
 ['NaCh_n', 'NaCh_10000', 'NaCh_1200', 'NaCh_2000', 'NaCh_400', 'NaCh_5000', 'NaCh_800']
 ['NaIn_n', 'NaIn_10000', 'NaIn_1200', 'NaIn_2000', 'NaIn_400', 'NaIn_5000', 'NaIn_800']

In [103]:
#clean columns
useless_cols = ['T1024 Choice Rn metric', 
                'T1024 Choice R10000 metric','T1024 Choice R1200 metric', 
                'T1024 Choice R2000 metric','T1024 Choice R400 metric', 
                'T1024 Choice R5000 metric','T1024 Choice R800 metric', 
                
                'T1024 Intergration Rn metric',
                'T1024 Integration R10000 metric', 'T1024 Integration R1200 metric',
                'T1024 Integration R2000 metric', 'T1024 Integration R400 metric',
                'T1024 Integration R5000 metric', 'T1024 Integration R800 metric',
                
                'T1024 Total Depth Rn metric',
                'T1024 Total Depth R10000 metric', 'T1024 Total Depth R1200 metric',
                'T1024 Total Depth R2000 metric', 'T1024 Total Depth R400 metric',
                'T1024 Total Depth R5000 metric', 'T1024 Total Depth R800 metric']
#riyadh_base.drop(useless_cols, axis=1, inplace = True)
#riyadh_full.drop(useless_cols, axis=1, inplace = True)

# renaming node count columns
ncdict = {'T1024 Node Count Rn metric': "NC_n",
          'T1024 Node Count R10000 metric': "NC_10000",
          'T1024 Node Count R1200 metric': "NC_1200",
          'T1024 Node Count R2000 metric': "NC_2000", 
          'T1024 Node Count R400 metric': "NC_400", 
          'T1024 Node Count R5000 metric': "NC_5000",
          'T1024 Node Count R800 metric': "NC_800"} 

riyadh_base.rename(columns=ncdict, inplace=True)
riyadh_full.rename(columns=ncdict, inplace=True)
print("VERIFICATION STEP!\n\t=== BASE MODEL ===\n",riyadh_base.dtypes)

VERIFICATION STEP!
	=== BASE MODEL ===
 Angular Connectivity                float64
Connectivity                          int64
Segment Length                      float64
T1024 Choice Rn metric              float64
T1024 Choice R10000 metric            int64
T1024 Choice R1200 metric             int64
T1024 Choice R2000 metric             int64
T1024 Choice R400 metric              int64
T1024 Choice R5000 metric             int64
T1024 Choice R800 metric              int64
T1024 Intergration Rn metric        float64
T1024 Integration R10000 metric     float64
T1024 Integration R1200 metric      float64
T1024 Integration R2000 metric      float64
T1024 Integration R400 metric       float64
T1024 Integration R5000 metric      float64
T1024 Integration R800 metric       float64
NC_n                                  int64
NC_10000                              int64
NC_1200                               int64
NC_2000                               int64
NC_400                                int64
NC_5000                               int64
NC_800                                int64
T1024 Total Depth Rn metric         float64
T1024 Total Depth R10000 metric     float64
T1024 Total Depth R1200 metric      float64
T1024 Total Depth R2000 metric      float64
T1024 Total Depth R400 metric       float64
T1024 Total Depth R5000 metric      float64
T1024 Total Depth R800 metric       float64
geometry                           geometry
index_focus                         float64
category                             object
name_alias                           object
NaCh_n                              float64
NaIn_n                              float64
NaCh_10000                          float64
NaIn_10000                          float64
NaCh_1200                           float64
NaIn_1200                           float64
NaCh_2000                           float64
NaIn_2000                           float64
NaCh_400                            float64
NaIn_400                            float64
NaCh_5000                           float64
NaIn_5000                           float64
NaCh_800                            float64
NaIn_800                            float64
dtype: object

In [104]:
print("VERIFICATION STEP!\n\t=== FULL MODEL ===\n",riyadh_full.dtypes)

VERIFICATION STEP!
	=== FULL MODEL ===
 Angular Connectivity                float64
Connectivity                          int64
Segment Length                      float64
T1024 Choice Rn metric              float64
T1024 Choice R10000 metric          float64
T1024 Choice R1200 metric             int64
T1024 Choice R2000 metric             int64
T1024 Choice R400 metric              int64
T1024 Choice R5000 metric             int64
T1024 Choice R800 metric              int64
T1024 Intergration Rn metric        float64
T1024 Integration R10000 metric     float64
T1024 Integration R1200 metric      float64
T1024 Integration R2000 metric      float64
T1024 Integration R400 metric       float64
T1024 Integration R5000 metric      float64
T1024 Integration R800 metric       float64
NC_n                                  int64
NC_10000                              int64
NC_1200                               int64
NC_2000                               int64
NC_400                                int64
NC_5000                               int64
NC_800                                int64
T1024 Total Depth Rn metric         float64
T1024 Total Depth R10000 metric     float64
T1024 Total Depth R1200 metric      float64
T1024 Total Depth R2000 metric      float64
T1024 Total Depth R400 metric       float64
T1024 Total Depth R5000 metric      float64
T1024 Total Depth R800 metric       float64
geometry                           geometry
index_campus                        float64
name_alias                           object
index_focus                         float64
id_campus                           float64
category_campus                      object
NaCh_n                              float64
NaIn_n                              float64
NaCh_10000                          float64
NaIn_10000                          float64
NaCh_1200                           float64
NaIn_1200                           float64
NaCh_2000                           float64
NaIn_2000                           float64
NaCh_400                            float64
NaIn_400                            float64
NaCh_5000                           float64
NaIn_5000                           float64
NaCh_800                            float64
NaIn_800                            float64
dtype: object

### === Export raw data to CSV ===

In [43]:
riyadh_base_ex = riyadh_base.drop("geometry", axis =1 )
riyadh_full_ex = riyadh_full.drop("geometry", axis =1 )

In [44]:
fp_base = ("deliverables/Data_files/baseline_model.csv")
fp_full = ("deliverables/Data_files/comparative_model.csv")
riyadh_base_ex.to_csv(fp_base)
riyadh_full_ex.to_csv(fp_full)

## === Summary tables ===
### 1. Topology

In [105]:
# Topological description of the focus areas to study
cols= ["index_focus","name_alias",
       'Connectivity', 'Segment Length']

topo_cols = [('Connectivity','count'),
            ('Connectivity','min'),
            ('Connectivity','max'),
            ('Connectivity','mean'),
            ('Connectivity','std'),
            ('Segment Length','min'),
            ('Segment Length','max'),
            ('Segment Length','mean'),
            ('Segment Length','std')]

print("\t===  BASE NETWORK  === ")
base_topo_summary = riyadh_base.groupby(["index_focus", "name_alias"]).describe()[topo_cols].round(2)
base_topo_summary

	===  BASE NETWORK  ===

                                                     Connectivity            \
                                                            count  min  max
index_focus name_alias
225.0       Telal Al-Riyadh catchment area                  606.0  2.0  6.0
289.0       Diplomatic Quarter Riyadh catchment area        174.0  2.0  5.0
296.0       Royal Guard Barracks catchment area             693.0  2.0  7.0
313.0       Al-Imam University catchment area               479.0  2.0  6.0

                                                                  \
                                                      mean   std
index_focus name_alias
225.0       Telal Al-Riyadh catchment area            4.06  0.57
289.0       Diplomatic Quarter Riyadh catchment area  3.95  0.54
296.0       Royal Guard Barracks catchment area       4.27  0.82
313.0       Al-Imam University catchment area         3.96  0.60

                                                     Segment Length          \
                                                                min     max
index_focus name_alias
225.0       Telal Al-Riyadh catchment area                    12.02  537.80
289.0       Diplomatic Quarter Riyadh catchment area           2.18  955.88
296.0       Royal Guard Barracks catchment area               10.59  393.74
313.0       Al-Imam University catchment area                 10.18  589.00


                                                        mean     std
index_focus name_alias
225.0       Telal Al-Riyadh catchment area             97.72   58.56
289.0       Diplomatic Quarter Riyadh catchment area  113.97  100.78
296.0       Royal Guard Barracks catchment area        78.66   48.31
313.0       Al-Imam University catchment area         108.29   81.70

In [106]:
print(" ===  FULL NETWORK  === ")
full_topo_summary = riyadh_full.groupby(["index_focus"]).describe()[topo_cols].round(2)
full_topo_summary

 ===  FULL NETWORK  ===

            Connectivity                       Segment Length                  \
                   count  min  max  mean   std            min     max    mean
index_focus
225.0              739.0  2.0  6.0  4.07  0.61          11.59  537.80  100.08
289.0             1089.0  1.0  7.0  3.34  1.09           2.18  955.88   78.15
296.0              921.0  1.0  7.0  4.18  0.86          10.59  393.74   78.62
313.0              857.0  1.0  7.0  3.77  0.83          10.18  589.00  103.35


               std
index_focus
225.0        60.47
289.0        60.15
296.0        49.00
313.0        82.26

In [123]:
#count dead ends in both models
base_dends = riyadh_base.NaCh_n == 0
full_dends = riyadh_full.NaCh_n == 0

dends_base = riyadh_base[base_dends][["index_focus", "NC_n"]].groupby("index_focus").count()
dends_full = riyadh_full[full_dends][["index_focus", "NC_n"]].groupby("index_focus").count()

dends_base.rename(columns={"NC_n":"Dead-ends" },inplace =True)
dends_full.rename(columns={"NC_n":"Dead-ends" },inplace =True)

In [126]:
#join the dead ends to the summary tables
base_topo_summary = base_topo_summary.join(dends_base)
full_topo_summary = full_topo_summary.join(dends_full)

/opt/anaconda3/envs/autogis/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [127]:
# Export tables to CSV
fp_base = "deliverables/Data_files/topo_summary_focus_baseline_model.csv"
fp_full = "deliverables/Data_files/topo_summary_focus_comparative_model.csv"
base_topo_summary.to_csv(fp_base)
full_topo_summary.to_csv(fp_full)

In [149]:
#Full summary of both
baseT_summary = riyadh_base.describe().round(2)[["Connectivity","Segment Length"]]
fullT_summary = riyadh_full.describe().round(2)[["Connectivity","Segment Length"]]

In [150]:
fullT_summary

       Connectivity  Segment Length
count     306400.00       306400.00
mean           3.90          110.19
std            0.94          140.45
min            0.00            1.27
25%            4.00           54.20
50%            4.00           78.24
75%            4.00          125.32
max            8.00        10617.45

In [151]:
baseT_summary.drop(['25%', '50%', '75%'], axis=0, inplace=True)
fullT_summary.drop(['25%', '50%', '75%'], axis=0, inplace=True)

In [172]:
baseT_summary["Dead-ends"] = nan
baseT_summary.loc["count","Dead-ends"] = riyadh_base[base_dends].count().max()

fullT_summary["Dead-ends"] = nan
fullT_summary.loc["count","Dead-ends"] = riyadh_full[full_dends].count().max()

In [176]:
macro_summary = baseT_summary.join(fullT_summary, lsuffix="_baseline", rsuffix="_comparative")
macro_summary

,Connectivity_baseline,Segment Length_baseline,Dead-ends_baseline,Connectivity_comparative,Segment Length_comparative,Dead-ends_comparative
count,227470.00,227470.00,11285.0,306400.00,306400.00,22746.0
mean,4.02,111.03,NaN,3.90,110.19,NaN
std,0.87,144.27,NaN,0.94,140.45,NaN
min,0.00,1.27,NaN,0.00,1.27,NaN
max,8.00,10617.45,NaN,8.00,10617.45,NaN

In [177]:
fpmacro = "deliverables/Data_files/topo_summary_both_models.csv"
macro_summary.to_csv(fpmacro)

### 2. Summary of Measures

In [183]:
# Syntax values described per area
nachcols = ['NaCh_400', 'NaCh_800', 'NaCh_1200', 'NaCh_2000', 'NaCh_5000', 'NaCh_10000','NaCh_n']           
naincols = ['NaIn_400','NaIn_800','NaIn_1200','NaIn_2000','NaIn_5000','NaIn_10000','NaIn_n']

nachmask = []
for t in nachcols:
    tu1 = (t,"min")
    tu2 = (t,"max")
    tu3 = (t,"mean")
    tu4 = (t,"std")
    nachmask.append(tu1)
    nachmask.append(tu2)
    nachmask.append(tu3)
    nachmask.append(tu4)

nach_basesummary = riyadh_base.groupby(["index_focus"]).describe()[nachmask].round(2).transpose()
nach_fullsummary = riyadh_full.groupby(["index_focus"]).describe()[nachmask].round(2).transpose()

In [187]:
nach_joined_summary = nach_basesummary.join(nach_fullsummary,lsuffix="_baseline", rsuffix= "_comparative")
nach_joined_summary

index_focus      225.0_baseline  289.0_baseline  296.0_baseline  \
NaCh_400   min             0.00            0.00            0.00
           max             1.32            1.27            1.49
           mean            0.97            0.89            1.00
           std             0.25            0.30            0.28
NaCh_800   min             0.00            0.00            0.00
           max             1.35            1.39            1.43
           mean            1.01            0.95            1.04
           std             0.24            0.26            0.27
NaCh_1200  min             0.00            0.00            0.00
           max             1.36            1.42            1.42
           mean            1.01            0.95            1.03
           std             0.25            0.26            0.27
NaCh_2000  min             0.00            0.00            0.00
           max             1.39            1.39            1.39
           mean            1.00            0.94            1.01
           std             0.26            0.26            0.27
NaCh_5000  min             0.00            0.00            0.00
           max             1.46            1.41            1.44
           mean            0.99            0.94            1.00
           std             0.27            0.26            0.27
NaCh_10000 min             0.00            0.00            0.00
           max             1.49            1.44            1.52
           mean            0.98            0.93            0.99
           std             0.27            0.26            0.28
NaCh_n     min             0.00            0.00            0.00
           max             1.38            1.51            1.61
           mean            0.88            0.86            0.92
           std             0.32            0.37            0.33

index_focus      313.0_baseline  225.0_comparative  289.0_comparative  \
NaCh_400   min             0.00               0.00               0.00
           max             1.78               1.31               1.42
           mean            0.93               0.95               0.82
           std             0.30               0.26               0.42
NaCh_800   min             0.00               0.00               0.00
           max             1.45               1.35               1.41
           mean            1.02               0.99               0.84
           std             0.23               0.26               0.42
NaCh_1200  min             0.00               0.00               0.00
           max             1.39               1.36               1.42
           mean            1.02               0.99               0.84
           std             0.22               0.26               0.42
NaCh_2000  min             0.00               0.00               0.00
           max             1.43               1.38               1.38
           mean            1.02               0.98               0.82
           std             0.23               0.27               0.42
NaCh_5000  min             0.00               0.00               0.00
           max             1.42               1.46               1.43
           mean            1.02               0.97               0.80
           std             0.23               0.28               0.41
NaCh_10000 min             0.00               0.00               0.00
           max             1.48               1.48               1.49
           mean            1.03               0.95               0.78
           std             0.24               0.27               0.40
NaCh_n     min             0.00               0.00               0.00
           max             1.53               1.38               1.51
           mean            0.97               0.87               0.74
           std             0.31               0.32               0.42

index_focus      296.0_comparative  313.0_comparative
NaCh_400   min                0.00               0.00
           max                1.42               1.50
           mean               0.96               0.86
           std                0.31               0.36
NaCh_800   min                0.00               0.00
           max                1.41               1.43
           mean               0.99               0.94
           std                0.31               0.32
NaCh_1200  min                0.00               0.00
           max                1.40               1.38
           mean               0.98               0.94
           std                0.31               0.32
NaCh_2000  min                0.00               0.00
           max                1.38               1.38
           mean               0.97               0.93
           std                0.31               0.33
NaCh_5000  min                0.00               0.00
           max                1.43               1.43
           mean               0.96               0.93
           std                0.31               0.33
NaCh_10000 min                0.00               0.00
           max                1.53               1.48
           mean               0.95               0.93
           std                0.31               0.33
NaCh_n     min                0.00               0.00
           max                1.61               1.54
           mean               0.88               0.87
           std                0.36               0.37

In [188]:
fpnach = "deliverables/Data_files/NaCh_summary_both_models.csv"
macro_summary.to_csv(fpnach)

In [192]:
#for referece, I'll also include the focus areas
fpfocus = "deliverables/Data_files/Focus_areas.csv"
focus_campuses.drop(["id","geom"], axis=1).to_csv(fpfocus)

# ============
# Exporting data to SHAPEFILES

In [ ]:
riyadh_full.head(2)

In [ ]:
fp = "cl_data/processing_networks/riyadhFull_pr_cl.shp"
riyadh_full.to_file(fp)

In [ ]:
riyadh_base.head()

In [ ]:
riyadh_base.NC_10000.hist(bins=100)

In [ ]:
fp = "cl_data/processing_networks/riyadhBase_pr_cl.shp"
riyadh_base.to_file(fp)